.candidate-heading {
    font-weight: bold;
}

.candidate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.candidate-form {
    display: flex;
    flex-direction: column;
}

.input-field {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-field:focus {
    border-color: #007bff;
}

textarea.input-field {
    height: 100px;
}